@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
.mobile {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 90px;
  display: block;
}

h1, h2, span {
  display: none;
}

@media screen and (min-width: 670px) {
  .mobile {
    display: none;
  }

  h1, h2, span {
    display: block;
  }

  body {
    transform-style: preserve-3d;
    font-family: "Pacifico", cursive;
  }

  h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 120px;
    font-size: 90px;
    background: -webkit-linear-gradient(0deg, #ceadfc 0%, #a3bbfb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Concert One", cursive;
    font-weight: 400;
    z-index: -1;
    letter-spacing: 6px;
  }

  span {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 70px;
    font-size: 70px;
  }

  h2 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50px;
    font-size: 90px;
    background: -webkit-linear-gradient(90deg, #e9e6ff 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  bokeh {
    position: fixed;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    animation-name: explosion;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
  }
  bokeh:nth-child(1) {
    background-color: #fc85e1;
    transform: translate(29.9412549528vw, 39.6762130934vh);
    animation-duration: 3.5137824976s;
    animation-delay: -1.6228084072s;
  }
  bokeh:nth-child(2) {
    background-color: #2bd8ff;
    transform: translate(26.3091839379vw, 49.0259015807vh);
    animation-duration: 3.0407809252s;
    animation-delay: -1.6940882521s;
  }
  bokeh:nth-child(3) {
    background-color: #ef8d22;
    transform: translate(22.5114075562vw, 98.8933065938vh);
    animation-duration: 4.4655605875s;
    animation-delay: -3.5210338864s;
  }
  bokeh:nth-child(4) {
    background-color: #ef8d22;
    transform: translate(64.5178024528vw, 33.0695605081vh);
    animation-duration: 2.5956802713s;
    animation-delay: -2.9192518886s;
  }
  bokeh:nth-child(5) {
    background-color: #ef8d22;
    transform: translate(98.9835578652vw, 35.2101393348vh);
    animation-duration: 3.0516805634s;
    animation-delay: -0.8002252397s;
  }
  bokeh:nth-child(6) {
    background-color: #feff28;
    transform: translate(22.4123872675vw, 5.1228558985vh);
    animation-duration: 3.5082653902s;
    animation-delay: -3.2981825747s;
  }
  bokeh:nth-child(7) {
    background-color: #ef8d22;
    transform: translate(35.8239948369vw, 38.2202761821vh);
    animation-duration: 3.9148467533s;
    animation-delay: -1.7723754607s;
  }
  bokeh:nth-child(8) {
    background-color: #2bd8ff;
    transform: translate(95.5399285888vw, 92.9531249394vh);
    animation-duration: 3.8853700368s;
    animation-delay: -1.5592801635s;
  }
  bokeh:nth-child(9) {
    background-color: #feff28;
    transform: translate(28.0318008381vw, 4.8976086211vh);
    animation-duration: 2.834794658s;
    animation-delay: -4.1910479151s;
  }
  bokeh:nth-child(10) {
    background-color: #fc85e1;
    transform: translate(62.6663777649vw, 41.1644483985vh);
    animation-duration: 3.1347377289s;
    animation-delay: -3.2817999313s;
  }
  bokeh:nth-child(11) {
    background-color: #2bd8ff;
    transform: translate(24.7649379604vw, 45.2647540791vh);
    animation-duration: 2.9214972288s;
    animation-delay: -1.1475283082s;
  }
  bokeh:nth-child(12) {
    background-color: #fc85e1;
    transform: translate(7.229455791vw, 59.7871226367vh);
    animation-duration: 2.3188243742s;
    animation-delay: -0.424942132s;
  }
  bokeh:nth-child(13) {
    background-color: #feff28;
    transform: translate(58.3495135424vw, 20.4545484625vh);
    animation-duration: 3.8550462415s;
    animation-delay: -2.3452829244s;
  }
  bokeh:nth-child(14) {
    background-color: #ef8d22;
    transform: translate(19.1875051323vw, 2.1780025255vh);
    animation-duration: 3.9915511424s;
    animation-delay: -3.8957294335s;
  }
  bokeh:nth-child(15) {
    background-color: #feff28;
    transform: translate(73.4213190005vw, 64.7870577262vh);
    animation-duration: 4.5771603963s;
    animation-delay: -2.7150070416s;
  }
  bokeh:nth-child(16) {
    background-color: #feff28;
    transform: translate(39.7567862932vw, 62.2284714846vh);
    animation-duration: 2.1260101576s;
    animation-delay: -1.6492085205s;
  }
  bokeh:nth-child(17) {
    background-color: #ef8d22;
    transform: translate(1.1989493547vw, 20.2646837179vh);
    animation-duration: 4.4659275408s;
    animation-delay: -4.0111191124s;
  }
  bokeh:nth-child(18) {
    background-color: #fc85e1;
    transform: translate(37.9504482553vw, 4.3005897456vh);
    animation-duration: 3.5291101602s;
    animation-delay: -1.5969692746s;
  }
  bokeh:nth-child(19) {
    background-color: #fc85e1;
    transform: translate(86.4014032362vw, 58.6591543969vh);
    animation-duration: 2.2008721897s;
    animation-delay: -3.0917287461s;
  }
  bokeh:nth-child(20) {
    background-color: #feff28;
    transform: translate(50.6233619231vw, 73.1522828546vh);
    animation-duration: 2.8360182609s;
    animation-delay: -2.9893192023s;
  }
  bokeh:nth-child(21) {
    background-color: #2bd8ff;
    transform: translate(89.3095188395vw, 12.9165701806vh);
    animation-duration: 2.1359646816s;
    animation-delay: -0.766122373s;
  }
  bokeh:nth-child(22) {
    background-color: #ef8d22;
    transform: translate(84.5533566326vw, 32.9311333502vh);
    animation-duration: 3.6969907688s;
    animation-delay: -4.6458531389s;
  }
  bokeh:nth-child(23) {
    background-color: #ef8d22;
    transform: translate(85.5400658641vw, 61.4864982725vh);
    animation-duration: 2.9615783993s;
    animation-delay: -1.1293327593s;
  }
  bokeh:nth-child(24) {
    background-color: #feff28;
    transform: translate(34.9215334918vw, 97.0048054681vh);
    animation-duration: 4.4449373878s;
    animation-delay: -3.9527934105s;
  }
  bokeh:nth-child(25) {
    background-color: #feff28;
    transform: translate(39.2667130591vw, 21.2881215364vh);
    animation-duration: 4.8898165138s;
    animation-delay: -3.4547707066s;
  }
  bokeh:nth-child(26) {
    background-color: #feff28;
    transform: translate(73.5658637155vw, 37.1097053129vh);
    animation-duration: 3.7812408986s;
    animation-delay: -3.3573963035s;
  }
  bokeh:nth-child(27) {
    background-color: #2bd8ff;
    transform: translate(45.7488067575vw, 47.1976717364vh);
    animation-duration: 2.9700764553s;
    animation-delay: -0.4618389851s;
  }
  bokeh:nth-child(28) {
    background-color: #ef8d22;
    transform: translate(68.2048969287vw, 53.2972239451vh);
    animation-duration: 4.0920395541s;
    animation-delay: -4.3905322865s;
  }
  bokeh:nth-child(29) {
    background-color: #ef8d22;
    transform: translate(89.8093371096vw, 15.7857872367vh);
    animation-duration: 3.3430956888s;
    animation-delay: -2.2995729355s;
  }
  bokeh:nth-child(30) {
    background-color: #ef8d22;
    transform: translate(44.4576698677vw, 10.6353676643vh);
    animation-duration: 2.9812107887s;
    animation-delay: -1.2359949755s;
  }
  bokeh:nth-child(31) {
    background-color: #feff28;
    transform: translate(64.3090151648vw, 50.5805663083vh);
    animation-duration: 2.7755548022s;
    animation-delay: -4.0575087371s;
  }
  bokeh:nth-child(32) {
    background-color: #ef8d22;
    transform: translate(41.33918821vw, 35.9934835271vh);
    animation-duration: 3.8548092857s;
    animation-delay: -0.5117880375s;
  }
  bokeh:nth-child(33) {
    background-color: #fc85e1;
    transform: translate(69.9233645416vw, 88.4087757565vh);
    animation-duration: 2.134522564s;
    animation-delay: -3.8236690567s;
  }
  bokeh:nth-child(34) {
    background-color: #ef8d22;
    transform: translate(82.9333393597vw, 78.4238350698vh);
    animation-duration: 2.1686744954s;
    animation-delay: -3.6449691565s;
  }
  bokeh:nth-child(35) {
    background-color: #fc85e1;
    transform: translate(28.2654447051vw, 9.7995714853vh);
    animation-duration: 4.3891417756s;
    animation-delay: -0.4214301532s;
  }
  bokeh:nth-child(36) {
    background-color: #ef8d22;
    transform: translate(88.227532177vw, 93.4609917643vh);
    animation-duration: 3.141564764s;
    animation-delay: -1.4919947141s;
  }
  bokeh:nth-child(37) {
    background-color: #fc85e1;
    transform: translate(52.7748993971vw, 39.1907698921vh);
    animation-duration: 4.2026537704s;
    animation-delay: -0.1894037939s;
  }
  bokeh:nth-child(38) {
    background-color: #2bd8ff;
    transform: translate(9.989700909vw, 32.9052312071vh);
    animation-duration: 4.136564726s;
    animation-delay: -2.5179263263s;
  }
  bokeh:nth-child(39) {
    background-color: #fc85e1;
    transform: translate(11.7903040032vw, 25.6958187848vh);
    animation-duration: 3.8355617867s;
    animation-delay: -4.4902379637s;
  }
  bokeh:nth-child(40) {
    background-color: #feff28;
    transform: translate(53.6784730833vw, 45.8724587305vh);
    animation-duration: 2.540788348s;
    animation-delay: -3.4502660761s;
  }
  bokeh:nth-child(41) {
    background-color: #feff28;
    transform: translate(95.9274336214vw, 39.5282971743vh);
    animation-duration: 4.7037047605s;
    animation-delay: -3.4873683402s;
  }
  bokeh:nth-child(42) {
    background-color: #fc85e1;
    transform: translate(25.1173361053vw, 61.0155131974vh);
    animation-duration: 4.1109318999s;
    animation-delay: -2.3889680632s;
  }
  bokeh:nth-child(43) {
    background-color: #feff28;
    transform: translate(52.8136556831vw, 2.9967647973vh);
    animation-duration: 4.1616459688s;
    animation-delay: -0.7829699474s;
  }
  bokeh:nth-child(44) {
    background-color: #ef8d22;
    transform: translate(64.3310642625vw, 82.991747651vh);
    animation-duration: 3.2571971801s;
    animation-delay: -2.1940939487s;
  }
  bokeh:nth-child(45) {
    background-color: #feff28;
    transform: translate(82.3372845251vw, 80.8407465715vh);
    animation-duration: 2.5743014252s;
    animation-delay: -0.9429602691s;
  }
  bokeh:nth-child(46) {
    background-color: #feff28;
    transform: translate(33.9190743762vw, 6.9598566262vh);
    animation-duration: 2.3530685955s;
    animation-delay: -0.9118754446s;
  }
  bokeh:nth-child(47) {
    background-color: #ef8d22;
    transform: translate(43.7861186801vw, 50.2832269061vh);
    animation-duration: 4.0023857426s;
    animation-delay: -4.8328649185s;
  }
  bokeh:nth-child(48) {
    background-color: #fc85e1;
    transform: translate(25.8660664031vw, 10.6234973443vh);
    animation-duration: 3.1934743777s;
    animation-delay: -0.4089191045s;
  }
  bokeh:nth-child(49) {
    background-color: #feff28;
    transform: translate(43.7751130289vw, 81.3141692464vh);
    animation-duration: 3.281410981s;
    animation-delay: -1.3920545443s;
  }
  bokeh:nth-child(50) {
    background-color: #ef8d22;
    transform: translate(96.5652661673vw, 13.0446421253vh);
    animation-duration: 4.7532268417s;
    animation-delay: -3.6772057223s;
  }
  bokeh:nth-child(51) {
    background-color: #fc85e1;
    transform: translate(90.9249035315vw, 57.426768781vh);
    animation-duration: 4.8234940328s;
    animation-delay: -0.6511791112s;
  }
  bokeh:nth-child(52) {
    background-color: #feff28;
    transform: translate(96.8376628534vw, 56.1242483731vh);
    animation-duration: 4.6746218006s;
    animation-delay: -3.8357971235s;
  }
  bokeh:nth-child(53) {
    background-color: #ef8d22;
    transform: translate(98.90005041vw, 26.8400377748vh);
    animation-duration: 2.0396722783s;
    animation-delay: -3.352873876s;
  }
  bokeh:nth-child(54) {
    background-color: #2bd8ff;
    transform: translate(3.6590899324vw, 94.9384613686vh);
    animation-duration: 2.2708515859s;
    animation-delay: -2.449064016s;
  }
  bokeh:nth-child(55) {
    background-color: #fc85e1;
    transform: translate(95.6583112153vw, 59.4533644591vh);
    animation-duration: 4.7313776693s;
    animation-delay: -3.8346014671s;
  }
  bokeh:nth-child(56) {
    background-color: #feff28;
    transform: translate(91.6191479459vw, 70.2301640626vh);
    animation-duration: 2.7996588165s;
    animation-delay: -1.0301791208s;
  }
  bokeh:nth-child(57) {
    background-color: #fc85e1;
    transform: translate(14.9801665936vw, 30.2078565366vh);
    animation-duration: 4.0685349194s;
    animation-delay: -1.4994345258s;
  }
  bokeh:nth-child(58) {
    background-color: #feff28;
    transform: translate(64.2830845526vw, 89.6658548612vh);
    animation-duration: 4.1074130351s;
    animation-delay: -1.1125573112s;
  }
  bokeh:nth-child(59) {
    background-color: #ef8d22;
    transform: translate(51.3019863909vw, 54.7870411591vh);
    animation-duration: 2.298042448s;
    animation-delay: -2.6736301878s;
  }
  bokeh:nth-child(60) {
    background-color: #feff28;
    transform: translate(57.029724676vw, 74.7788962706vh);
    animation-duration: 3.1970470967s;
    animation-delay: -3.1221361611s;
  }
  bokeh:nth-child(61) {
    background-color: #fc85e1;
    transform: translate(59.0582326201vw, 26.6304272546vh);
    animation-duration: 3.0906697112s;
    animation-delay: -2.2436269649s;
  }
  bokeh:nth-child(62) {
    background-color: #2bd8ff;
    transform: translate(61.3996576626vw, 95.7212777277vh);
    animation-duration: 3.4352450627s;
    animation-delay: -4.2931022233s;
  }
  bokeh:nth-child(63) {
    background-color: #ef8d22;
    transform: translate(38.6024858364vw, 48.4578158339vh);
    animation-duration: 4.0452826102s;
    animation-delay: -0.9499704143s;
  }
  bokeh:nth-child(64) {
    background-color: #ef8d22;
    transform: translate(88.4235101099vw, 23.6298415905vh);
    animation-duration: 4.9661369816s;
    animation-delay: -2.2677628451s;
  }
  bokeh:nth-child(65) {
    background-color: #fc85e1;
    transform: translate(7.2576369095vw, 26.993401577vh);
    animation-duration: 3.9426295566s;
    animation-delay: -4.7732794768s;
  }
  bokeh:nth-child(66) {
    background-color: #2bd8ff;
    transform: translate(98.2654777081vw, 58.2171061504vh);
    animation-duration: 3.3646693606s;
    animation-delay: -0.4890090051s;
  }
  bokeh:nth-child(67) {
    background-color: #2bd8ff;
    transform: translate(10.6221367128vw, 76.596383194vh);
    animation-duration: 3.1463581607s;
    animation-delay: -3.8283684146s;
  }
  bokeh:nth-child(68) {
    background-color: #2bd8ff;
    transform: translate(66.4829327304vw, 58.2324213101vh);
    animation-duration: 2.583339712s;
    animation-delay: -3.0950684721s;
  }
  bokeh:nth-child(69) {
    background-color: #fc85e1;
    transform: translate(93.6734559647vw, 80.950543835vh);
    animation-duration: 3.1288131186s;
    animation-delay: -4.4250966934s;
  }
  bokeh:nth-child(70) {
    background-color: #ef8d22;
    transform: translate(21.9681954183vw, 18.1179771188vh);
    animation-duration: 3.1064470823s;
    animation-delay: -2.3776126134s;
  }
  bokeh:nth-child(71) {
    background-color: #2bd8ff;
    transform: translate(89.4291876104vw, 76.7322490621vh);
    animation-duration: 4.3079152914s;
    animation-delay: -2.2358879142s;
  }
  bokeh:nth-child(72) {
    background-color: #fc85e1;
    transform: translate(8.4391495833vw, 70.7875076148vh);
    animation-duration: 2.9454782978s;
    animation-delay: -3.7585301091s;
  }
  bokeh:nth-child(73) {
    background-color: #fc85e1;
    transform: translate(94.3118383279vw, 60.8013705876vh);
    animation-duration: 2.2056909139s;
    animation-delay: -0.3680214868s;
  }
  bokeh:nth-child(74) {
    background-color: #2bd8ff;
    transform: translate(48.748598535vw, 43.8265644854vh);
    animation-duration: 3.6396173933s;
    animation-delay: -1.4940081342s;
  }
  bokeh:nth-child(75) {
    background-color: #fc85e1;
    transform: translate(87.6177612701vw, 47.9546938793vh);
    animation-duration: 2.2379021255s;
    animation-delay: -2.1766901063s;
  }
  bokeh:nth-child(76) {
    background-color: #ef8d22;
    transform: translate(18.5266521645vw, 65.0354094287vh);
    animation-duration: 3.9990811844s;
    animation-delay: -0.0032550394s;
  }
  bokeh:nth-child(77) {
    background-color: #fc85e1;
    transform: translate(16.9455233626vw, 28.308231526vh);
    animation-duration: 4.914740303s;
    animation-delay: -0.2877245808s;
  }
  bokeh:nth-child(78) {
    background-color: #feff28;
    transform: translate(38.3654483794vw, 88.1397942884vh);
    animation-duration: 4.4059018998s;
    animation-delay: -1.0576809076s;
  }
  bokeh:nth-child(79) {
    background-color: #2bd8ff;
    transform: translate(30.128618868vw, 27.3517917719vh);
    animation-duration: 3.8825819504s;
    animation-delay: -4.740783619s;
  }
  bokeh:nth-child(80) {
    background-color: #feff28;
    transform: translate(76.6157978945vw, 97.3742538729vh);
    animation-duration: 3.8161622243s;
    animation-delay: -3.8102761672s;
  }
  bokeh:nth-child(81) {
    background-color: #feff28;
    transform: translate(48.5196185605vw, 56.0850859091vh);
    animation-duration: 2.7003530991s;
    animation-delay: -0.7334080754s;
  }
  bokeh:nth-child(82) {
    background-color: #feff28;
    transform: translate(72.0964175692vw, 13.2280919759vh);
    animation-duration: 2.534232273s;
    animation-delay: -4.6615045585s;
  }
  bokeh:nth-child(83) {
    background-color: #fc85e1;
    transform: translate(73.466766776vw, 21.6391842882vh);
    animation-duration: 4.5907658353s;
    animation-delay: -4.5863056197s;
  }
  bokeh:nth-child(84) {
    background-color: #2bd8ff;
    transform: translate(26.7232818004vw, 9.2339862086vh);
    animation-duration: 3.2131438986s;
    animation-delay: -0.8382119862s;
  }
  bokeh:nth-child(85) {
    background-color: #ef8d22;
    transform: translate(83.0030958071vw, 39.494938624vh);
    animation-duration: 2.2820416672s;
    animation-delay: -4.6519491522s;
  }
  bokeh:nth-child(86) {
    background-color: #ef8d22;
    transform: translate(38.039550578vw, 87.8798924211vh);
    animation-duration: 2.7205556886s;
    animation-delay: -4.9535251411s;
  }
  bokeh:nth-child(87) {
    background-color: #feff28;
    transform: translate(52.2652745871vw, 55.9412287765vh);
    animation-duration: 2.8643119082s;
    animation-delay: -1.1311995963s;
  }
  bokeh:nth-child(88) {
    background-color: #2bd8ff;
    transform: translate(67.7154698248vw, 30.237118743vh);
    animation-duration: 2.8265379612s;
    animation-delay: -1.9292130535s;
  }
  bokeh:nth-child(89) {
    background-color: #2bd8ff;
    transform: translate(75.325332663vw, 9.9985881988vh);
    animation-duration: 4.2258681274s;
    animation-delay: -1.9595502322s;
  }
  bokeh:nth-child(90) {
    background-color: #ef8d22;
    transform: translate(12.000756701vw, 15.0260709753vh);
    animation-duration: 4.1274744042s;
    animation-delay: -1.3336093726s;
  }
  bokeh:nth-child(91) {
    background-color: #fc85e1;
    transform: translate(43.6931507739vw, 18.7757909637vh);
    animation-duration: 3.6458956577s;
    animation-delay: -2.1434133171s;
  }
  bokeh:nth-child(92) {
    background-color: #ef8d22;
    transform: translate(53.8011353924vw, 84.5290481274vh);
    animation-duration: 2.1130462929s;
    animation-delay: -1.5331468725s;
  }
  bokeh:nth-child(93) {
    background-color: #feff28;
    transform: translate(25.8782113173vw, 51.4621814983vh);
    animation-duration: 2.3484421469s;
    animation-delay: -2.7851987272s;
  }
  bokeh:nth-child(94) {
    background-color: #feff28;
    transform: translate(0.0196507052vw, 58.7440718525vh);
    animation-duration: 2.0333236149s;
    animation-delay: -0.7731942533s;
  }
  bokeh:nth-child(95) {
    background-color: #fc85e1;
    transform: translate(37.8270855512vw, 88.1636785584vh);
    animation-duration: 2.7378126675s;
    animation-delay: -4.6060777935s;
  }
  bokeh:nth-child(96) {
    background-color: #feff28;
    transform: translate(22.8934506914vw, 59.433984251vh);
    animation-duration: 2.2309556096s;
    animation-delay: -3.6670674019s;
  }
  bokeh:nth-child(97) {
    background-color: #2bd8ff;
    transform: translate(21.1583663686vw, 76.6291077221vh);
    animation-duration: 2.5401643013s;
    animation-delay: -0.0747543058s;
  }
  bokeh:nth-child(98) {
    background-color: #feff28;
    transform: translate(62.6732356894vw, 39.7866565358vh);
    animation-duration: 4.7007349038s;
    animation-delay: -0.4402998582s;
  }
  bokeh:nth-child(99) {
    background-color: #fc85e1;
    transform: translate(50.7099872264vw, 5.8924125174vh);
    animation-duration: 3.5041746105s;
    animation-delay: -0.6334993463s;
  }
  bokeh:nth-child(100) {
    background-color: #fc85e1;
    transform: translate(69.4572377855vw, 16.174596264vh);
    animation-duration: 4.0598843871s;
    animation-delay: -4.4019200835s;
  }

  @keyframes explosion {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translate(50vw, 100vh);
    }
  }
  .cake {
    position: relative;
    top: 250px;
    margin: auto;
    width: 200px;
    height: 60px;
    left: 30%;
    background: #f9fdff;
    border-radius: 100%;
    transform: translateZ(100px);
    box-shadow: 0px 4px 0px #f4f9fd, 0px 8px 0px #dba9ff, 0px 12px 0px #fec3b3, 0px 16px 0px #f7f6fb, 0px 20px 0px #f7f6fb, 0px 24px 0px #f7f6fb, 0px 28px 0px #f7f6fb, 0px 32px 0px #fea0bb, 0px 36px 0px #fea0bb, 0px 40px 0px #9cef9d, 0px 44px 0px #9cef9d, 0px 48px 0px #f7f6fb, 0px 52px 0px #f7f6fb, 0px 56px 0px #f7f6fb, 0px 60px 0px #f7f6fb, 0px 64px 0px #f7f6fb, 0px 68px 0px #dfa5fc, 0px 72px 0px #dfa5fc, 0px 76px 0px #fafffe, 0px 80px 0px #fafffe;
  }

  .plate {
    position: absolute;
    height: 90px;
    width: 300px;
    bottom: -95px;
    left: 80%;
    top: 380px;
    margin-left: -150px;
    border-radius: 100%;
    background: radial-gradient(ellipse closest-side at center, #08c7fe 0%, #04d7f2 71%, #02ffd0 100%);
    box-shadow: 0px 3px 0px #00e2e1, 0px 6px 0px #00d3fb;
    transform: translateZ(80px);
  }

  .candle {
    position: relative;
    height: 50px;
    width: 12px;
    top: 280px;
    left: 30%;
    margin: auto;
    background: linear-gradient(0deg, #b7f4a7 0%, white 100%);
    border-radius: 4px;
    transform: translateZ(120px);
  }

  #flame {
    position: absolute;
    z-index: 10;
  }

  .lit {
    background: linear-gradient(to bottom, #FFF6D9, #FBC36C);
    width: 15px;
    height: 35px;
    /*  Info on border radius. http://www.css3.info/preview/rounded-border/ */
    border-top-left-radius: 10px 35px;
    border-top-right-radius: 10px 35px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    top: -34px;
    margin: auto;
    /*   http://www.css3.info/preview/box-shadow/ */
    box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    transform-origin: bottom;
    animation: flicker 1s ease-in-out alternate infinite;
  }

  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
  }
  .pyro > .before, .pyro > .after {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }

  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }

  @-webkit-keyframes bang {
    to {
      box-shadow: -31px -346.6666666667px #00ff1a, -120px -32.6666666667px #00ff66, 119px -23.6666666667px #ffa200, -149px -382.6666666667px #ff0022, -46px -109.6666666667px #ff6a00, -216px -156.6666666667px #44ff00, -242px 68.3333333333px #ffae00, -177px 7.3333333333px #ffea00, 164px 41.3333333333px #00f7ff, -192px -236.6666666667px #00ff6f, 87px -5.6666666667px #9100ff, -13px -328.6666666667px #22ff00, 44px -105.6666666667px #ff0011, 175px -325.6666666667px #f7ff00, 222px -118.6666666667px #9100ff, 97px -264.6666666667px #0062ff, -243px 26.3333333333px #9900ff, 161px -259.6666666667px #ff5900, 64px -193.6666666667px #ff5e00, 54px -183.6666666667px #ff00e1, -247px -62.6666666667px darkorange, -23px -414.6666666667px #00ff1e, -208px 8.3333333333px #4d00ff, 116px 18.3333333333px #ffcc00, 117px -308.6666666667px #ff0099, 226px -102.6666666667px #ff002f, -152px -43.6666666667px #00ff88, -201px -150.6666666667px #ff0073, -17px -243.6666666667px #ff00a6, 9px -253.6666666667px #ff5500, 117px -82.6666666667px #00d5ff, 227px 23.3333333333px #8c00ff, 12px -104.6666666667px #9900ff, -248px -283.6666666667px #ff00ae, 8px -237.6666666667px #00d9ff, 45px -110.6666666667px #00ff55, -141px -204.6666666667px #ffe600, -198px -192.6666666667px #00ffae, -45px -41.6666666667px #0400ff, 244px -338.6666666667px #00ff6f, 147px 73.3333333333px #0091ff, -186px -362.6666666667px #ff0051, -133px -85.6666666667px #007bff, -62px -390.6666666667px #00ff4d, -29px -6.6666666667px #44ff00, 179px 83.3333333333px #dd00ff, -21px -409.6666666667px #ff2200, 82px -364.6666666667px #00ffbb, 54px -212.6666666667px #15ff00, -240px -360.6666666667px #ff0088, 217px -94.6666666667px #00ff91;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: -31px -346.6666666667px #00ff1a, -120px -32.6666666667px #00ff66, 119px -23.6666666667px #ffa200, -149px -382.6666666667px #ff0022, -46px -109.6666666667px #ff6a00, -216px -156.6666666667px #44ff00, -242px 68.3333333333px #ffae00, -177px 7.3333333333px #ffea00, 164px 41.3333333333px #00f7ff, -192px -236.6666666667px #00ff6f, 87px -5.6666666667px #9100ff, -13px -328.6666666667px #22ff00, 44px -105.6666666667px #ff0011, 175px -325.6666666667px #f7ff00, 222px -118.6666666667px #9100ff, 97px -264.6666666667px #0062ff, -243px 26.3333333333px #9900ff, 161px -259.6666666667px #ff5900, 64px -193.6666666667px #ff5e00, 54px -183.6666666667px #ff00e1, -247px -62.6666666667px darkorange, -23px -414.6666666667px #00ff1e, -208px 8.3333333333px #4d00ff, 116px 18.3333333333px #ffcc00, 117px -308.6666666667px #ff0099, 226px -102.6666666667px #ff002f, -152px -43.6666666667px #00ff88, -201px -150.6666666667px #ff0073, -17px -243.6666666667px #ff00a6, 9px -253.6666666667px #ff5500, 117px -82.6666666667px #00d5ff, 227px 23.3333333333px #8c00ff, 12px -104.6666666667px #9900ff, -248px -283.6666666667px #ff00ae, 8px -237.6666666667px #00d9ff, 45px -110.6666666667px #00ff55, -141px -204.6666666667px #ffe600, -198px -192.6666666667px #00ffae, -45px -41.6666666667px #0400ff, 244px -338.6666666667px #00ff6f, 147px 73.3333333333px #0091ff, -186px -362.6666666667px #ff0051, -133px -85.6666666667px #007bff, -62px -390.6666666667px #00ff4d, -29px -6.6666666667px #44ff00, 179px 83.3333333333px #dd00ff, -21px -409.6666666667px #ff2200, 82px -364.6666666667px #00ffbb, 54px -212.6666666667px #15ff00, -240px -360.6666666667px #ff0088, 217px -94.6666666667px #00ff91;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: -31px -346.6666666667px #00ff1a, -120px -32.6666666667px #00ff66, 119px -23.6666666667px #ffa200, -149px -382.6666666667px #ff0022, -46px -109.6666666667px #ff6a00, -216px -156.6666666667px #44ff00, -242px 68.3333333333px #ffae00, -177px 7.3333333333px #ffea00, 164px 41.3333333333px #00f7ff, -192px -236.6666666667px #00ff6f, 87px -5.6666666667px #9100ff, -13px -328.6666666667px #22ff00, 44px -105.6666666667px #ff0011, 175px -325.6666666667px #f7ff00, 222px -118.6666666667px #9100ff, 97px -264.6666666667px #0062ff, -243px 26.3333333333px #9900ff, 161px -259.6666666667px #ff5900, 64px -193.6666666667px #ff5e00, 54px -183.6666666667px #ff00e1, -247px -62.6666666667px darkorange, -23px -414.6666666667px #00ff1e, -208px 8.3333333333px #4d00ff, 116px 18.3333333333px #ffcc00, 117px -308.6666666667px #ff0099, 226px -102.6666666667px #ff002f, -152px -43.6666666667px #00ff88, -201px -150.6666666667px #ff0073, -17px -243.6666666667px #ff00a6, 9px -253.6666666667px #ff5500, 117px -82.6666666667px #00d5ff, 227px 23.3333333333px #8c00ff, 12px -104.6666666667px #9900ff, -248px -283.6666666667px #ff00ae, 8px -237.6666666667px #00d9ff, 45px -110.6666666667px #00ff55, -141px -204.6666666667px #ffe600, -198px -192.6666666667px #00ffae, -45px -41.6666666667px #0400ff, 244px -338.6666666667px #00ff6f, 147px 73.3333333333px #0091ff, -186px -362.6666666667px #ff0051, -133px -85.6666666667px #007bff, -62px -390.6666666667px #00ff4d, -29px -6.6666666667px #44ff00, 179px 83.3333333333px #dd00ff, -21px -409.6666666667px #ff2200, 82px -364.6666666667px #00ffbb, 54px -212.6666666667px #15ff00, -240px -360.6666666667px #ff0088, 217px -94.6666666667px #00ff91;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: -31px -346.6666666667px #00ff1a, -120px -32.6666666667px #00ff66, 119px -23.6666666667px #ffa200, -149px -382.6666666667px #ff0022, -46px -109.6666666667px #ff6a00, -216px -156.6666666667px #44ff00, -242px 68.3333333333px #ffae00, -177px 7.3333333333px #ffea00, 164px 41.3333333333px #00f7ff, -192px -236.6666666667px #00ff6f, 87px -5.6666666667px #9100ff, -13px -328.6666666667px #22ff00, 44px -105.6666666667px #ff0011, 175px -325.6666666667px #f7ff00, 222px -118.6666666667px #9100ff, 97px -264.6666666667px #0062ff, -243px 26.3333333333px #9900ff, 161px -259.6666666667px #ff5900, 64px -193.6666666667px #ff5e00, 54px -183.6666666667px #ff00e1, -247px -62.6666666667px darkorange, -23px -414.6666666667px #00ff1e, -208px 8.3333333333px #4d00ff, 116px 18.3333333333px #ffcc00, 117px -308.6666666667px #ff0099, 226px -102.6666666667px #ff002f, -152px -43.6666666667px #00ff88, -201px -150.6666666667px #ff0073, -17px -243.6666666667px #ff00a6, 9px -253.6666666667px #ff5500, 117px -82.6666666667px #00d5ff, 227px 23.3333333333px #8c00ff, 12px -104.6666666667px #9900ff, -248px -283.6666666667px #ff00ae, 8px -237.6666666667px #00d9ff, 45px -110.6666666667px #00ff55, -141px -204.6666666667px #ffe600, -198px -192.6666666667px #00ffae, -45px -41.6666666667px #0400ff, 244px -338.6666666667px #00ff6f, 147px 73.3333333333px #0091ff, -186px -362.6666666667px #ff0051, -133px -85.6666666667px #007bff, -62px -390.6666666667px #00ff4d, -29px -6.6666666667px #44ff00, 179px 83.3333333333px #dd00ff, -21px -409.6666666667px #ff2200, 82px -364.6666666667px #00ffbb, 54px -212.6666666667px #15ff00, -240px -360.6666666667px #ff0088, 217px -94.6666666667px #00ff91;
    }
  }
  @keyframes bang {
    to {
      box-shadow: -31px -346.6666666667px #00ff1a, -120px -32.6666666667px #00ff66, 119px -23.6666666667px #ffa200, -149px -382.6666666667px #ff0022, -46px -109.6666666667px #ff6a00, -216px -156.6666666667px #44ff00, -242px 68.3333333333px #ffae00, -177px 7.3333333333px #ffea00, 164px 41.3333333333px #00f7ff, -192px -236.6666666667px #00ff6f, 87px -5.6666666667px #9100ff, -13px -328.6666666667px #22ff00, 44px -105.6666666667px #ff0011, 175px -325.6666666667px #f7ff00, 222px -118.6666666667px #9100ff, 97px -264.6666666667px #0062ff, -243px 26.3333333333px #9900ff, 161px -259.6666666667px #ff5900, 64px -193.6666666667px #ff5e00, 54px -183.6666666667px #ff00e1, -247px -62.6666666667px darkorange, -23px -414.6666666667px #00ff1e, -208px 8.3333333333px #4d00ff, 116px 18.3333333333px #ffcc00, 117px -308.6666666667px #ff0099, 226px -102.6666666667px #ff002f, -152px -43.6666666667px #00ff88, -201px -150.6666666667px #ff0073, -17px -243.6666666667px #ff00a6, 9px -253.6666666667px #ff5500, 117px -82.6666666667px #00d5ff, 227px 23.3333333333px #8c00ff, 12px -104.6666666667px #9900ff, -248px -283.6666666667px #ff00ae, 8px -237.6666666667px #00d9ff, 45px -110.6666666667px #00ff55, -141px -204.6666666667px #ffe600, -198px -192.6666666667px #00ffae, -45px -41.6666666667px #0400ff, 244px -338.6666666667px #00ff6f, 147px 73.3333333333px #0091ff, -186px -362.6666666667px #ff0051, -133px -85.6666666667px #007bff, -62px -390.6666666667px #00ff4d, -29px -6.6666666667px #44ff00, 179px 83.3333333333px #dd00ff, -21px -409.6666666667px #ff2200, 82px -364.6666666667px #00ffbb, 54px -212.6666666667px #15ff00, -240px -360.6666666667px #ff0088, 217px -94.6666666667px #00ff91;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
}

