@keyframes rightwingani {
  from {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  30% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 100deg);
  }
  70% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes leftwingani {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  30% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 80deg);
  }
  70% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
.butterfly-large {
  width: 144px;
  height: 376px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  right: 230px;
  top: -80px;
}
.butterfly-large:before, .butterfly-large:after {
  position: absolute;
  width: 144px;
  height: 376px;
  content: url("https://i.ibb.co/FX54qsb/99145050605b8fa7a4c7708891699b11-4.png");
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-large:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-large:after {
  transform-origin: top right;
  animation-name: leftwingani;
}

.butterfly-large2 {
  width: 346px;
  height: 208px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(-10deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.butterfly-large2:before, .butterfly-large2:after {
  position: absolute;
  width: 134px;
  height: 156px;
  content: url("https://i.ibb.co/ZTyzS4h/wing-1.png");
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-large2:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-large2:after {
  transform-origin: top right;
  animation-name: leftwingani;
}

.butterfly-large3 {
  width: 276px;
  height: 195px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(-20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  top: 100px;
  left: 10px;
}
.butterfly-large3:before, .butterfly-large3:after {
  position: absolute;
  width: 143px;
  height: 195px;
  content: url("https://i.ibb.co/qY7MtPk/IMG-0071-1.png");
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-large3:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-large3:after {
  transform-origin: top right;
  animation-name: leftwingani;
}

.butterfly-small {
  width: 140px;
  height: 87px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(-20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
}
.butterfly-small:before, .butterfly-small:after {
  position: absolute;
  width: 75px;
  height: 87px;
  content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/5536/wing-small.png");
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-small:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-small:after {
  transform-origin: top right;
  animation-name: leftwingani;
}
