@keyframes rightwingani {
  from {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  30% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 100deg);
  }
  70% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes leftwingani {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  30% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 80deg);
  }
  70% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
.butterfly-large {
  width: 144px;
  height: 376px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  right: 200px;
  top: -80px;
}
.butterfly-large:before, .butterfly-large:after {
  position: absolute;
  width: 180px;
  height: 301px;
  content: url("https://i.ibb.co/WGG6Thv/Not-Jnlfo-D0-Yuyj-K-1.png");
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-large:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-large:after {
  transform-origin: top right;
  animation-name: leftwingani;
}

.butterfly-large2 {
  width: 346px;
  height: 208px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(-10deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.butterfly-large2:before, .butterfly-large2:after {
  position: absolute;
  width: 178px;
  height: 208px;
  content: url("https://i.ibb.co/zQtXT25/Not-1-Px-Fdayn7y4o4-2-1.png");
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-large2:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-large2:after {
  transform-origin: top right;
  animation-name: leftwingani;
}

.butterfly-large3 {
  width: 276px;
  height: 195px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(-20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  top: 100px;
  left: 10px;
}
.butterfly-large3:before, .butterfly-large3:after {
  position: absolute;
  width: 143px;
  height: 274px;
  content: url("https://i.ibb.co/jZXjcTP/Not-1-V2k-We045-Q9-R4-1.png");
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-large3:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-large3:after {
  transform-origin: top right;
  animation-name: leftwingani;
}

.butterfly-large4 {
  width: 346px;
  height: 208px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(-10deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.butterfly-large4:before, .butterfly-large4:after {
  position: absolute;
  width: 180px;
  height: 307px;
  content: url("https://i.ibb.co/4VtVCyZ/Fs-Sm-H48-D7a-F1-2-1.png");
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-large4:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-large4:after {
  transform-origin: top right;
  animation-name: leftwingani;
}


.butterfly-small {
  width: 140px;
  height: 87px;
  /* Wings */
  /* Right wing */
  /* Left wing */
  transform: rotate(-20deg) translate(30px, 60px) scale(0.8, 0.8);
  transform-origin: center center;
}
.butterfly-small:before, .butterfly-small:after {
  position: absolute;
  width: 75px;
  height: 120px;
  content: url("https://i.ibb.co/VCzB5Qy/LBRL9xduo-Fli-1-1.png");
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.butterfly-small:before {
  transform: rotate3d(0, 0, 0, 180deg);
  /* Mirror left wing */
  transform-origin: center right;
  animation-name: rightwingani;
}
.butterfly-small:after {
  transform-origin: top right;
  animation-name: leftwingani;
}
